
<div class="row">
  <div class="col-sm-3" *ngFor="let infraction of infractions" style="height: 290px">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">{{infraction.id}}</h6>
        <span class="card-text"><b>Date :</b> {{infraction.date</span><br>
        <span class="card-text"><b>Montant : </b>{{infraction.montant}}</span><br>
        <span class="card-text"><b>Marque Vehicule : </b>{{infraction.vehicule.modele}}</span><br>
        <span class="card-text"><b>Matricule Vehicule : </b>{{infraction.vehicule.marque}}</span><br>

      </div>
    </div>
  </div>
